.sakktable{
    border: 2px outset;
    width: 400px;
    height: 400px;
}

.sakktd{
    border: 1px outset;
}

.sakktr:nth-child(odd) .sakktd:nth-child(even),
.sakktr:nth-child(even) .sakktd:nth-child(odd) {
    background-color: #222222;
}

.sakktr:nth-child(odd) .sakktd:nth-child(odd),
.sakktr:nth-child(even) .sakktd:nth-child(even) {
    background-color: #eeeeee;
}