body {
    background-color: #9e9e9e;
    /* background-image: url(screenshot.jpg); */
}

.sakktable{
    background-color: rgb(255, 255, 255);
    border: 2px outset;
    width: 450px;
    height: 450px;
}

.sakktd{
    border: 1px outset;
}

.sakktr:nth-child(odd) .sakktd:nth-child(even),
.sakktr:nth-child(even) .sakktd:nth-child(odd) {
    background-color: #222222;
    width: 40px;
    height: 40px;
}

.sakktr:nth-child(odd) .sakktd:nth-child(odd),
.sakktr:nth-child(even) .sakktd:nth-child(even) {
    background-color: #eeeeee;
    width: 40px;
    height: 40px;
}

th{
    border: 1px;
    width: 40px;
    height: 40px;
}

.fejteto{
    rotate: 180deg;
}