.cim {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.bekezdes {
    font-size: 18px;
    text-align: justify;
    margin: 10px;
}
body {
    background-color: #9e9e9e;
    /* background-image: url(screenshot.jpg); */
}
