* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: #9e9e9e;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: #eeeeee;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: #eeeeee;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid #eeeeee;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #00ff00;
}

.playerO {
    color: #00ffff;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    text-align: center;
}

.controls button {
    color: #eeeeee;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #0000ff;
}

#reset {
    background-color: #ff0000;
}

#indexbtn {
    background-color: #ffff00;
    color: #000000;
}

.hide {
    animation-name: hideAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes hideAnim{
    from {
        opacity: 100%;
    } to {
        opacity: 0%;
    }
}